<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campgrounds</a>
    </div>
    <ul>
        <% campgrounds.forEach(camp=> { %>
            <li><a href="/campgrounds/<%= camp._id %>">
                    <%= camp.title %>%>
                </a>

            </li>
            <% }) %>
    </ul>